{% extends 'base.html.twig' %}

{% block title %}New Services{% endblock %}

{% block body %}
    <h1>Créer un nouveau service</h1>

    {{ include('admin_services/_form.html.twig') }}

    <a href="{{ path('app_admin_services_index') }}">Retour</a>
{% endblock %}
