{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Entretien, réparattion, et vente de voitures d'occasions</h1>
<p>
    Ea occaecat laborum sint aliqua fugiat id eiusmod consectetur commodo cillum nisi cupidatat. Quis esse id fugiat aute veniam ut. Commodo sit velit id aliquip aliquip nostrud laboris ullamco velit in aliqua. Eiusmod adipisicing quis laboris est dolore magna cillum proident. Voluptate ipsum esse Lorem dolor tempor sunt.

Velit consequat fugiat laboris cillum. In officia voluptate incididunt elit reprehenderit. Laboris aute in ut esse ad. Cupidatat dolor sit id ex laboris ut ipsum.
</p>
{% endblock %}
