{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Créer nouveau commentaire</h1>

    {{ include('employee_comment/_form.html.twig') }}

    <a href="{{ path('app_employee_comment_index') }}">Retour</a>
{% endblock %}
