{% extends 'base.html.twig' %}

{% block title %}OpeningHours index{% endblock %}

{% block body %}
    <h1>Horaires d'ouvertures</h1>

    <table class="table">
            <thead>
              <tr>
                <th>Jour</th>
                <th>Heure</th>
                <th>Horaire d'ouverture</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Lundi</td>
                <td>9h00 - 18h00</td>
                <td>Ouvert</td>
              </tr>
              <tr>
                <td>Mardi</td>
                <td>9h00 - 18h00</td>
                <td>Ouvert</td>
              </tr>
              <tr>
                <td>Mercredi</td>
                <td>9h00 - 18h00</td>
                <td>Ouvert</td>
              </tr>
              <tr>
                <td>Jeudi</td>
                <td>9h00 - 18h00</td>
                <td>Ouvert</td>
              </tr>
              <tr>
                <td>Vendredi</td>
                <td>9h00 - 18h00</td>
                <td>Ouvert</td>
              </tr>
              <tr>
                <td>Samedi</td>
                <td>10h00 - 18h00</td>
                <td>Ouvert</td>
              </tr>
              <tr>
                <td>Dimanche</td>
                <td>Fermé</td>
                <td>Fermé</td>
              </tr>
            </tbody>
          
        <tbody>
        {% for opening_hour in opening_hours %}
            <tr>
                <td>{{ opening_hour.Heure ? opening_hour.Heure|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ opening_hour.Jour }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun horaire trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
