{% extends 'base.html.twig' %}

{% block title %}OpeningHours{% endblock %}

{% block body %}
    <h1>Horaires d'ouvertures</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Heure</th>
                <td>2</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td></td>

            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_opening_hours_index') }}">Retour</a>

{% endblock %}
