{% extends 'base.html.twig' %}

{% block title %}Hello LookupController!{% endblock %}

{% block body %}
<h1>Résultats de la recherche</h1>
<h2 class="my-4">Voitures d'occasions</h2>
    {% for car in cars %}
        <div>
            <h3><td>{{ car.title }}</td></h3>
        <tr>
            <td>
                <a href="{{ path('app_cars_show', {'id': car.id}) }}">Voir le véhicule</a>
            </td>
        </tr>
    {% else %}
        <div>
            Aucune voiture pour vos critères de recherche.
        </div>

    {% endfor %}

{% endblock %}
