{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
     Si un compte correspond à votre adresse email, alors un email contenant un lien de renouvellement vous a été renvoyé.{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas de lien merci de consulter vos spam. <a href="{{ path('app_forgot_password_request') }}">Réessayer</a>.</p>
{% endblock %}
