/*  Main et Footer */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    font-family: Barlow;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenu {
    flex: 1 0 auto;
}
.contenu p {
    padding: 5vw 10vw;
    text-align:  justify;
}

footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #262526;
    color: #333;
}
.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 0px;
}

.bloc {
    width: 25%;
    margin: 0 30px;
}

.title-container {
    display: flex;
    align-items: center;
  }
  
  h3 {
    font-size: 1.5em;
    margin-right: 10px;
    margin-left: 30px;
    font-family: rajdhani;
  }
  
  .title-button {
    background-color: red;
    color: #262526;
    border: none;
    padding: 15px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30px;
    font-family: rajdhani;
  }

.footer-contact h3,
.footer-services h3,
.footer-horaires h3 {
    font-size: 25px;
    padding-bottom: 20px;
    color: #f2f2f2;
}

.footer-contact p {
    padding: 5px 0;
}

.liste-services,
.liste-horaires,
.liste-contact {
    list-style-type: none;
    color: #f2f2f2;
    font-family: barlow;
}
.liste-services li {
    padding: 2px 0;
}

.liste-services a {
    text-decoration: none;
    color: #f2f2f2;
}

.liste-services a:hover {
    color: #f2f2f2;
}

h1 {
    color: red;
}

/* Media queries */

@media screen and (max-width: 1300px) {

    .contenu-footer {
        width: 700px;
        flex-wrap: wrap;
    }
    .bloc {
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .contenu-footer {
        width: 320 px;
    }
    .bloc {
        width: 300px;
        margin: 30px 30px;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 30px;
    }
    .bloc:nth-child(1) {
        margin-top: 0;
    }
}
h1 {
    color: red;
}