{% extends 'base.html.twig' %}

{% block title %}New Cars{% endblock %}

{% block body %}
    <h1>Publier une nouvelle annonce</h1>

    {{ include('admin_cars/_form.html.twig') }}

    <a href="{{ path('app_admin_cars_index') }}">Retour</a>
{% endblock %}
