{% extends 'base.html.twig' %}

{% block title %}Services index{% endblock %}

{% block body %}
    <h1>Services</h1>

    <div>
        <h2>Réparation</h2>
    </div>

    <div>
        <h2>Maintenance</h2>
    </div>
    
    <table>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.title }}</td>
                <td>{{ service.content }}</td>
                <td>
                    <a href="{{ path('app_services_show', {'id': service.id}) }}">Consulter</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun service trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
