{% extends 'base.html.twig' %}

{% block title %}Edit OpeningHours{% endblock %}

{% block body %}
    <h1>Modifier heures d'ouvertures</h1>

    {{ include('admin_opening_hours/_form.html.twig', {'button_label': 'Actualiser'}) }}

    <a href="{{ path('app_admin_opening_hours_index') }}">Retour</a>

    {{ include('admin_opening_hours/_delete_form.html.twig') }}
{% endblock %}
