{% extends 'base.html.twig' %}

{% block title %}New OpeningHours{% endblock %}

{% block body %}
    <h1>Création d'un nouvel horaire</h1>

    {{ include('admin_opening_hours/_form.html.twig') }}

    <a href="{{ path('app_admin_opening_hours_index') }}">Retour</a>
{% endblock %}
