{% extends 'base.html.twig' %}

{% block title %}Edit Cars{% endblock %}

{% block body %}
    <h1>Modifier véhicule</h1>

    {{ include('employe_cars/_form.html.twig', {'button_label': 'Actualiser'}) }}

    <a href="{{ path('app_employe_cars_index') }}">Retour</a>

    {{ include('employe_cars/_delete_form.html.twig') }}
{% endblock %}
