{% extends 'base.html.twig' %}

{% block title %}New Cars{% endblock %}

{% block body %}
    <h1>Créer nouvel annonce de voiture</h1>

    {{ include('employe_cars/_form.html.twig') }}

    <a href="{{ path('app_employe_cars_index') }}">Retour</a>
{% endblock %}
