{% extends 'base.html.twig' %}

{% block title %}New Reviews{% endblock %}

{% block body %}
    <h1>Créer nouvel avis</h1>

    {{ include('reviews/_form.html.twig') }}

    <a href="{{ path('app_reviews_index') }}">Retour</a>
{% endblock %}
