{% extends 'base.html.twig' %}

{% block title %}Reviews{% endblock %}

{% block body %}
    <h1>Avis clients</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ review.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ review.content }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ review.createdAt ? review.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reviews_index') }}">Retour</a>
    
{% endblock %}
