<!DOCTYPE html>
<html>

<body>

<div class="contenu">

</div>

<footer>
    <div class="contenu-footer">
        <div class="bloc footer-services">
            <h3>Services</h3>
            <ul class="liste-services">
                <li><a href="{{ path('app_cars_show') }}">Voitures d'occasions</a></li>
                <li><a href="{{ path('app_services_index') }}">Maintenance et réparation</a></li>
            </ul>
        </div>

        <div class="bloc footer-contact">
            <div>
            <h3>Contact</h3>
            <button type="button" class="title-button" id="contact-button">Contactez-nous !</button>

            <script>
            document.getElementById('contact-button').addEventListener('click', function() {
            window.location.href = "{{ path('app_contact') }}";
            });
            </script>

        </div>
            <ul class="liste-contact">
              <li>Téléphone: 0700000000</li>
              <li>Email: projetexemple.com</li>
              <li>Adress: 6 rue exemple, 75000 Paris</li>
            </ul> 
        </div>

        <div class="bloc footer-horaires">
            <h3>Horaires</h3>
            <ul class="liste-horaires">
                <li> ✅ Lundi: 9H-18h</li>
                <li> ✅ Mardi: 9H-18h</li>
                <li> ✅ Mercredi: 9H-18h</li>
                <li> ✅ Jeudi: 9H-18h</li>
                <li> ✅ Vendredi: 9H-18h</li>
                <li> ✅ Samedi: 9H-18h</li>
                <li>❌ Dimanche: Fermé</li>
            </ul>
        </div>
    </div>

</footer>

</body>
</html>