<!DOCTYPE html>
<html>
<style>
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Rajdhani;;
    font-size: 17px;
    line-height: 1.6;
}

#showcase {
    background-image: url("https://images.pexels.com/photos/1729999/pexels-photo-1729999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1 {
    font-size: 50px;
    color: #F2F2F2;
    font-family: rajdhani;
}
#showcase p{
    font-size: 20px;
}
#showcase .button {
    font-family: rajdhani;
    font-size: 18px;
    text-decoration: none;
    color: #F2F2F2;
    border: #F2F2F2;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.showcase.button:hover{
    background-color: 926239;
    color: #fff;
}
</style>
<body>
<header id="showcase">
    <h1>Garage V.Parrot</h1>
<a href="{{ path('app_services_index')}}" class="button">Services</a>
</header>
</body>

</html>